.App {
  font-size: 2em;
  width: fit-content;
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
  color: darkgray;
}

@media only screen and (max-width: 480px) {
  .App {
    font-size: 1.5em;
  }
}

.charging-icon {
  margin-left: 10px;
}

.leaflet-container {
  margin: 30px 0;
  height: 300px;
}

.warning {
  color: red;
}

.slider {
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  width: 100%;
  direction: rtl;
}