.big-text {
  color: black;
  margin: 10px 0;
  font-size: 2em;
  font-weight: bold;
}

.big-text a {
  color: black;
}

@media (prefers-color-scheme: dark) {
  .big-text, .big-text a {
    color: white;
  }
}

@media only screen and (max-width: 480px) {
  .big-text {
    font-size: 1.5em;
  }
}